/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Header */
header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  font-size: 24px;
}

.logout {
  cursor: pointer;
}

/* Navigation */
nav {
  background-color: #f4f4f4;
  padding: 10px 0;
}

nav ul {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  padding: 10px 15px;
}

nav ul li a.active {
  background-color: #ddd;
  border-radius: 5px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 10px 15px;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Main Content */
main {
  padding: 20px;
}

.chart {
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
